/* Estilo Geral */
/* Reset básico para remover margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    color: #333;
    background-image: url("https://th.bing.com/th/id/R.fbf202f8b611a610fda5ef1ae96cb8f5?rik=LmNGYVuIwXxfLw&pid=ImgRaw&r=0");

}

/* Estilo para o formulário */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

form h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

input[type="text"], 
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
}

input[type="text"]:focus, 
input[type="number"]:focus {
    border-color: #4CAF50;
    outline: none;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para mensagens de erro */
.erro {
    color: red;
    font-size: 12px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color: #4CAF50;
    color: white;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Responsividade */
@media (max-width: 600px) {
    form, table {
        width: 100%;
    }
}
/* Estilo para os botões de ação na tabela */
.botao-atualizar, .botao-remover {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Cor e estilo para o botão Atualizar */
.botao-atualizar {
    background-color: #2196F3; /* Azul */
    color: white;
}

.botao-atualizar:hover {
    background-color: #0b7dda;
}

/* Cor e estilo para o botão Remover */
.botao-remover {
    background-color: #f44336; /* Vermelho */
    color: white;
}

.botao-remover:hover {
    background-color: #da190b;
